body {
  display: grid;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.circle {
  border: 1px solid gray;
  border-radius: 50%;
}

.parent {
  display: grid;
  position: relative;
  place-items: center;
  width: 60%;
  height: 60%;
}

.child {
  position: absolute;
  transform: translate(-50%, -50%);
}

.child__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.relative {
  position: relative;
}

#main {
  width: 500px;
  height: 500px;
  margin-bottom: 1.5rem;
}

.last {
  width: 40%;
  height: 40%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions > form {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  gap: 10px;
  border-radius: 16px;
  background-color: lightgray;
  padding: 1rem;
}

.actions > form > input {
  outline: 0;
  height: 30px;
  width: 150px;
  border-radius: 8px;
}

.rotate {
  animation: clockWise infinite 20s linear;
}
.rotate__anti {
  animation: antiClockWise infinite 10s linear;
}
@keyframes clockWise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes antiClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
